* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(231, 158, 69); */
    background: rgb(255,111,0);
    background: linear-gradient(0deg, rgba(255,111,0,1) 0%, rgba(253,187,45,1) 90%);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.marca img {
    width: 70px;
    height: 70px;
}

.marca {
    display: flex;
    justify-content: center;
    align-items: center;
}

header input,
button {
    padding: 5px;
    height: 30px;
    background-color: bisque;
}

form {
    margin: 15px;
}

main {
    margin: 0px 15px 25px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    margin: 10px;
}

section {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 5px 10px 5px;

}

section img {
    width: 150px;
    height: 150px;
}

section h2,
h3,
p {
    text-align: center;
    width: 100%;
    margin: 2px;
}

section button {
    width: 50%;
    margin: 5px;
    background-color: bisque;
    border-radius: 50%;
    border: black solid 1px;
}

footer {
    width: 100%;
    padding: 20px 4rem;
}

footer table {
    text-align: center;
    margin: 5px 0px;
}